# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
local_settings.py
config/settings/local_run.py
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Node (in case of future tooling)
node_modules/
